# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage/base.css
coverage/block-navigation.js
coverage/clover.xml
coverage/coverage-final.json
coverage/favicon.png
coverage/index.html
coverage/prettify.css
coverage/prettify.js
coverage/sort-arrow-sprite.png
coverage/sorter.js
coverage/svelte-autotracking/index.html
coverage/svelte-autotracking/svelte.config.js.html
coverage/svelte-autotracking/lib/index.html
coverage/svelte-autotracking/lib/index.ts.html
coverage/svelte-autotracking/lib/tools.ts.html
coverage/svelte-autotracking/src/App.svelte.html
coverage/svelte-autotracking/src/index.html
coverage/svelte-autotracking/src/main.ts.html
coverage/svelte-autotracking/src/components/DoubleCounter.svelte.html
coverage/svelte-autotracking/src/components/index.html
coverage/svelte-autotracking/src/components/Named.svelte.html
coverage/svelte-autotracking/src/components/Nested.svelte.html
coverage/svelte-autotracking/src/lib/counter.ts.html
coverage/svelte-autotracking/src/lib/index.html
coverage/svelte-autotracking/src/lib/named.ts.html
coverage/svelte-autotracking/src/lib/nested.ts.html
